{% extends 'layout.html.twig' %}

{% block stylesheets %}

{% endblock %}


{% block body %}

        <!-- Intro -->
        <section id="intro" class="wrapper style1 fullscreen fade-up">
            <h5>{{ user.email }}</h5>
            <div class="inner">
                <h1 class="align-center">Devis/Commandes&Livraisons</h1>
                <p class="align-center">Application de génération de documents au format Excel.</p>
                <img src="{{ asset('media/images/locals/cascades.gif') }}" alt="" class="img-size" />
            </div>
        </section>

{% endblock %}