{% extends 'layout.html.twig' %}

{% block stylesheets %}

{% endblock %}


{% block body %}

        <!-- Intro -->
        <section id="intro" class="wrapper style1 fullscreen fade-up">
            <div class="inner">
                <h1>Hyperspace</h1>
                <p>Just another fine responsive site template designed by <a href="http://html5up.net">HTML5 UP</a><br />
                    and released for free under the <a href="http://html5up.net/license">Creative Commons</a>.</p>
                <ul class="actions">
                    <li><a href="#one" class="button scrolly">Learn more</a></li>
                </ul>
            </div>
        </section>

        <!-- One -->
        <section id="one" class="wrapper style2 spotlights">
            <section>
                <a href="#" class="image"><img src="{{ asset('media/images/locals/pic01.jpg') }}" alt="" data-position="center center" /></a>
                <div class="content">
                    <div class="inner">
                        <h2>Sed ipsum dolor</h2>
                        <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
                        <ul class="actions">
                            <li><a href="generic.html" class="button">Learn more</a></li>
                        </ul>
                    </div>
                </div>
            </section>

{% endblock %}